# Data Source connectivity
osgi.jdbc.driver.name = derby
dataSourceName=responder
url = jdbc:derby:data/derby-data/test;create=true

user=enquery
password=enquery
databaseName=responder

ops4j.preHook=responderDB

#Pool Config
#pool=narayana
#xa=true
#jdbc.pool.maxTotal=8