.CQS-info-boxes {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.CQS-info-boxes div {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
}

.CQS-info-boxes label {
  min-width: 350px;
}

.CQS-info-boxes input {
  flex-grow: 1;
  max-width: 200px;
}

.CQS-info-boxes select {
  flex-grow: 1;
  max-width: 208px;
}

.CQS-input-boxes {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.CQS-input-boxes div {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
}

.CQS-input-boxes label {
  min-width: 150px;
}

.CQS-input-boxes input {
  flex-grow: 1;
  max-width: 200px;
  text-align: center;
}

.CQS-input-boxes select {
  flex-grow: 1;
  max-width: 208px;
}

.CQS-legend-style legend {
  margin-bottom: 5px;
  margin-top: 5px;
}

.selectorField-div div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.btnSubmit {
  padding: 10px 24px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btnSubmit:hover {
  padding: 10px 24px;
  background-color: #4caf50;
  color: white;
}

.btnReset {
  padding: 10px 24px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btnReset:hover {
  padding: 10px 24px;
  background-color: #ff0000;
  color: white;
}
