.LogoSection {
  text-align: center;
}

.LogoSection-logo {
  height: 80px;
}

.LogoSection-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.LogoSection-title {
  font-size: 1.5em;
}

.LogoSection-intro {
  font-size: large;
}
