table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td, tr {
    padding: 5px;
}

th {
    text-align:left;
}

table {
    width:100%;
}

.btnNoAction {
    opacity: 0.6;
    cursor: not-allowed;
}

.btnFailed {
    background-color: #f44336;
}
