.queryInformation {     
    display: flex;
    width: 100%;
    flex-direction: column;
}

.queryInformation  div {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
}

.queryInformation label {
  min-width: 200px;
}

.queryInformation input {
  flex-grow: 1;
  max-width: 300px;
}

.queryInformation select {
  flex-grow: 1;
  max-width: 300px;
}
