## Configuration for a Standalone Runner on a 5K record Phone Data input file
name=Standalone-Phone-Data-5K
description=Standalone Engine running on a 5K record phone data file
type=Batch

# Name of the DataSchema describing the fields
data.schema.name=Phone Data

# Location of Data File
data.source.file=/opt/enquery/sampledata/phone-data-5K.json

# Data File Record Type
data.source.record.type=json

# Path to the Standalone jar file.  This is the jar file implementing the query execution.
.application.jar.path=/opt/enquery/app-lib/encryptedquery-standalone-app-2.1.2.jar

# Number of threads
.number.of.threads=5

# Path to a directory to use as the parent directory to store temporary files during the execution of the query.
.run.directory=/opt/enquery/jobs/standalone

# Java Runtime Options
.java.options=-XX:+UseG1GC

# Either 'v1' or 'v2'.  Defaults to 'v2'
.algorithm.version=v2

# Memory used for Column Buffer size.  In MB.   Defaults to 2048
.column.buffer.memory.mb=1024
