<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  EncryptedQuery is an open source project allowing user to query databases with queries under homomorphic encryption to securing the query and results set from database owner inspection. 
  Copyright (C) 2018  EnQuery LLC 
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.
 
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
 -->
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
	xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0"
	xsi:schemaLocation="
           http://www.osgi.org/xmlns/blueprint/v1.0.0 https://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd">

	<cm:property-placeholder persistent-id="encrypted.query.querier.rest" 
		update-strategy="reload" 
		placeholder-prefix="#{" placeholder-suffix="}">
		
		<cm:default-properties>
	        <cm:property name="responder.host" value="localhost"/>
	        <cm:property name="responder.port" value="8181"/>
	        <cm:property name="responder.api.media.type" value="application/vnd.encryptedquery.responder+xml"/>
	        <cm:property name="responder.api.version" value="1"/>
	        
	        <cm:property name="port" value="8182"/>
	        <cm:property name="context.path" value="/querier"/>
	        <cm:property name="camel.trace.enabled" value="false"/>
	        <cm:property name="camel.trace.showProperties" value="false"/>
	        <cm:property name="camel.trace.showExchangePattern" value="false"/>
	        <cm:property name="camel.trace.showShortExchangeId" value="true"/>
	        <cm:property name="camel.trace.showBody" value="true"/>
	        <cm:property name="camel.trace.showHeaders" value="true"/>
	        
			<!-- parameters for thread pools and workers -->
	        <cm:property name="encrypt.query.queue.size" value="32"/>
	        <cm:property name="encrypt.query.worker.count" value="1"/>
	        
	        <cm:property name="send.schedule.queue.size" value="32"/>
	        <cm:property name="send.schedule.worker.count" value="1"/>
	        
	        <cm:property name="retrieve.result.queue.size" value="32"/>
	        <cm:property name="retrieve.result.worker.count" value="1"/>
	        <cm:property name="retrieve.result.delay.ms" value="0"/>
	        
	        <cm:property name="decrypt.response.queue.size" value="32"/>
	        <cm:property name="decrypt.response.worker.count" value="1"/>
	        
	        <!-- Rest API settings -->
			<cm:property name="api.latest.version" value="1"/>
	        <cm:property name="api.media.type" value="application/vnd.encryptedquery.enclave+json"/>
	        <cm:property name="api.root.path" value="/api/rest"/>
      
		</cm:default-properties>
	</cm:property-placeholder>
	
	<reference id="httpService" interface="org.osgi.service.http.HttpService" />
	<bean id="camelServlet" class="org.apache.camel.component.servlet.CamelHttpTransportServlet"/>
	
	<reference id="dataSchemaRepo" interface="org.enquery.encryptedquery.querier.data.service.DataSchemaRepository"/>
	<reference id="dataSourceRepo" interface="org.enquery.encryptedquery.querier.data.service.DataSourceRepository"/>
	<reference id="queryRepo" interface="org.enquery.encryptedquery.querier.data.service.QueryRepository"/>
	<reference id="querySchemaRepo" interface="org.enquery.encryptedquery.querier.data.service.QuerySchemaRepository"/>
	<reference id="resultStatusResolver" interface="org.encryptedquery.querier.business.ResultStatusResolver" ext:proxy-method="classes"/>
	<reference id="queryCipher" interface="org.encryptedquery.querier.business.QueryCipher" ext:proxy-method="classes"/>
	<reference id="scheduleRepo" interface="org.enquery.encryptedquery.querier.data.service.ScheduleRepository"/>
	<reference id="resultRepo" interface="org.enquery.encryptedquery.querier.data.service.ResultRepository"/>
	<reference id="retrievalRepo" interface="org.enquery.encryptedquery.querier.data.service.RetrievalRepository"/>
	<reference id="resultUpdater" interface="org.encryptedquery.querier.business.ResultUpdater" ext:proxy-method="classes"/>
	<reference id="responseDecipher" interface="org.encryptedquery.querier.business.ResponseDecipher"  ext:proxy-method="classes"/>
	<reference id="decryptionRepo" interface="org.enquery.encryptedquery.querier.data.service.DecryptionRepository"/>
	<reference id="decryptionStatusResolver" interface="org.encryptedquery.querier.business.DecryptionStatusResolver" ext:proxy-method="classes"/>
	<reference id="retrievalStatus" interface="org.encryptedquery.querier.business.RetrievalStatusResolver" ext:proxy-method="classes"/>
	<reference id="queryUpdater" interface="org.encryptedquery.querier.business.QueryUpdater" ext:proxy-method="classes"/>
	<reference id="scheduleConverter" interface="org.enquery.encryptedquery.querier.data.transformation.ScheduleTypeConverter" ext:proxy-method="classes"/>
	<reference id="scheduleUpdater" interface="org.encryptedquery.querier.business.ScheduleUpdater" ext:proxy-method="classes"/>
	<reference id="restRegistry" interface="org.enquery.encryptedquery.querier.data.service.ResourceUriRegistry" filter="(type=rest-service)"/>
	<reference id="dataSourceConverter" interface="org.enquery.encryptedquery.querier.data.transformation.DataSourceTypeConverter" ext:proxy-method="classes"/>
	<reference id="queryConverter" interface="org.enquery.encryptedquery.querier.data.transformation.QueryTypeConverter" ext:proxy-method="classes"/>
	<reference id="dataSchemaConverter" interface="org.enquery.encryptedquery.querier.data.transformation.DataSchemaTypeConverter"  ext:proxy-method="classes"/>
	<reference id="querySchemaConverter" interface="org.enquery.encryptedquery.querier.data.transformation.QuerySchemaTypeConverter"  ext:proxy-method="classes"/>
	<reference id="resultConverter" interface="org.enquery.encryptedquery.querier.data.transformation.ResultTypeConverter"  ext:proxy-method="classes"/>
	<reference id="retrievalConverter" interface="org.enquery.encryptedquery.querier.data.transformation.RetrievalTypeConverter"  ext:proxy-method="classes"/>
	<reference id="decryptionConverter" interface="org.enquery.encryptedquery.querier.data.transformation.DecryptionTypeConverter"  ext:proxy-method="classes"/>
	<reference id="clearTextResponseConverter" interface="org.enquery.encryptedquery.xml.transformation.ClearTextResponseTypeConverter"  ext:proxy-method="classes"/>
	<reference id="executionConverter" interface="org.enquery.encryptedquery.querier.data.transformation.ExecutionConverter" ext:proxy-method="classes"/>
	<reference id="retrievalUpdater" interface="org.encryptedquery.querier.business.RetrievalUpdater" ext:proxy-method="classes"/>

	<bean
		class="org.apache.camel.component.servlet.osgi.OsgiServletRegisterer"
		init-method="register" 
		destroy-method="unregister">
		
		<property name="alias" value="#{context.path}#{api.root.path}" />
		<property name="httpService" ref="httpService" />
		<property name="servlet" ref="camelServlet" />
		<property name="servletName" value="querierRestApiServlet"/>
		<property name="matchOnUriPrefix" value="true"/>
	</bean>

	<bean id="serverHeaderFilter" class="org.apache.camel.impl.DefaultHeaderFilterStrategy">
		<property name="inFilterPattern" value="(?!(dataSchemaId|querySchemaId|Accept)).*"/>
		<property name="outFilterPattern" value="(?!(Location)).*"/> 
	</bean>
	
	<bean id="clientHeaderFilter" class="org.apache.camel.impl.DefaultHeaderFilterStrategy">
		<property name="inFilterPattern" value="(?!(Location)).*"/>
		<property name="outFilterPattern" value="(?!(Accept)).*"/> 
	</bean>
	
	
	<bean id="arrayListAggregator" 
		class="org.enquery.encryptedquery.querier.data.transformation.ListAggregationStrategy"/>

	<!--Enable logging of Exchange properties when tracing-->
    <bean id="traceFormatter" class="org.apache.camel.processor.interceptor.DefaultTraceFormatter">
        <property name="showProperties" value="#{camel.trace.showProperties}"/>
        <property name="showExchangePattern" value="#{camel.trace.showExchangePattern}"/>
        <property name="showShortExchangeId" value="#{camel.trace.showShortExchangeId}"/>
        <property name="showBody" value="#{camel.trace.showBody}"/>
        <property name="showHeaders" value="#{camel.trace.showHeaders}"/>
    </bean>
    
    
</blueprint>