<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 * EncryptedQuery is an open source project allowing user to query databases with queries under
 * homomorphic encryption to securing the query and results set from database owner inspection.
 * Copyright (C) 2018 EnQuery LLC
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the
 * GNU Affero General Public License as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with this program.
 * If not, see <https://www.gnu.org/licenses/>.
 */
  -->
<Configuration>
	<Properties>
		<Property name="projectPrefix">encryptedQuery</Property>
		<Property name="Directory">./logs</Property>
		<Property name="Filename">${projectPrefix}.log</Property>
	</Properties>

	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%5p [%t] %d (%F:%L) - %m%n"/>
		</Console>

		<RollingFile name="RollingFile" fileName="${Directory}/${Filename}" filePattern="${projectPrefix}-%i.log">
            <PatternLayout pattern="%d %-5p %-17c{2} %3x - %m%n"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="1 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="2"/>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="org.apache.hadoop.hbase" level="info" additivity="false"/>
		<Logger name="org.apache.hadoop.hbase.zookeeper" level="warn" additivity="false"/>
		<Logger name="org.apache.zookeeper" level="error" additivity="false"/>
		<Root level="info">
			<AppenderRef ref="STDOUT" level="info"/>
			<AppenderRef ref="RollingFile" level="info"/>
		</Root>
	</Loggers>

</Configuration>
